* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
/* common */
body {
	position: relative;
	overflow: hidden;
}

/* mmousetext circle effect */
.mouse-effect {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
	background: #333;
}
.mouse-effect h2 {
	position: absolute;
	color: #fff;
	font-size: 1.5em;
	user-select: none;
	pointer-events: none;
	animation: animate 7.5s linear infinite;
}
@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.mouse-effect h2 span {
	position: absolute;
	top: -100px;
	text-transform: uppercase;
	display: inline-block;
	transform-origin: 0 100px;
}
